html {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    color: black;
}

html a {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    font-size: 1rem;
}

a:hover {
    color: white;
}

li {
    list-style: none;
}



/* BARRA DE NAVEGACIÓN */

.navContainer {
    display: inline;
    position: relative;
}

.buttonNav {
    position: absolute;
    top: -0.7rem;
}

.smallNav {
    position: relative;
    height: 2.6rem;
    padding: 0rem;
    background-color: #353A40;
}

.mediumNav {
    height: 3rem;
    padding: 0rem;
    background-color: #353A40;
}

.largeNav {
    height: 3.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #353A40;
}

.bigNav {
    height: 4rem;
    padding: 4rem;
    background-color: #353A40;
}

.smallNav a {
    font-size: 0.9rem;
    margin-top: -0.7rem;
}

.mediumNav a {
    font-size: 0.87rem;
    margin-top: -0.7rem;
}

.largeNav a {
    font-size: 1.1rem;
    margin-top: -0.5rem;
}

.bigNav a {
    font-size: 1.2rem;
    margin-top: -0.3rem;
}

.navbar a:hover {
    color: white;
}

.smallNavBG {
    background-color: #353A40;
    max-width: 12rem;
    margin-top: 2rem;
}

.smallNavBorder {
    padding-left: 0.75rem;
    border-top: black;
    border-style: solid;
    border-width: 0.1rem;
}

.nav-item a {
    color: darkgray;
}

.comprarTickets a {
    color: limegreen;
}



/* BARRA DE PIÉ DE PÁGINA */

.footer {
    background-image: linear-gradient(to right, #1C3643, #1E5372);
    height: fit-content;
    padding: 0.7rem 0rem;
}

.footListSmall a {
    font-size: 0.8rem;
    color: white;
}

.footListMedium a {
    font-size: 0.8rem;
    color: white;
}

.footListLarge a {
    font-size: 1rem;
    color: white;
}

.footListBig a {
    font-size: 1.2rem;
    color: white;
}

.footListSmall a:hover,
.footListMedium a:hover,
.footListLarge a:hover,
.footListBig a:hover {
    color: white;
}



/* COMPRAR TICKETS */

.mainBlock {
    margin-top: 6rem;
}

.card-body {
    border-width: 0.12rem;
    border-style: solid;
}

.card-title {
    font-weight: 600;
}

.cardStudent {
    border-color: #1384fc;
}

.cardTrainee {
    border-color: #28a7bb;
}

.cardJunior {
    border-color: #fcc41a;
}

.valorDeTicket {
    font-weight: 600;
    margin-bottom: 1rem;
}



/* FORMULARIO */

.textoFormulario {
    font-size: 1.2rem;
}

.campoBorde {
    border: solid 0.1rem #cfd5db;
    border-radius: 0.3rem;
    height: 2.8rem;
}

.cantCateg {
    margin-left: -0.5rem;
}

.totalPagar {
    margin-top: 2rem;
    background-color: #c5e1ff;
    border-radius: 0.3rem;
    height: 3.5rem;
    font-size: 1.2rem;
    color: #0646a9;
}

.btnFormulario {
    background-color: #97c93e;
    border: solid 0.1rem white;
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 49%;
}

.btnFormulario:hover {
    background-color: white;
    border: solid 0.1rem #1E5372;
    color: #1E5372;
}



/* MODAL DEL RESUMEN */

.modal {
    width: 90%;
    font-weight: 600;
    color: #444444;
    margin: 0rem 0rem 0rem 0rem;
}

.alertaFlex {
    padding: 1rem 0rem;
}

.resumenFlex {
    margin-left: 3rem;
    margin-top: -1.8rem;
}

.imgCaC {
    padding-left: 3rem;
}

#res_evento {
    padding-top: 1.5rem;
}

.flexGrid {
    display: flex;
    border-bottom: solid 0.05rem #aaaaaa;
}

.flexItem1 {
    flex: 1;
    padding-bottom: -1rem;
    margin-bottom: -0.7rem;
    margin-top: 1rem;
}

.flexItem2 {
    flex: 2;
    padding-bottom: -1rem;
    margin-bottom: -0.7rem;
    margin-top: 1rem;
}

.botonModal {
    border-radius: 0.3rem;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: auto;
}

.btnComprar {
    background-color: white;
    border: solid 0.1rem #2fa500;
    color: #2fa500;
}

.btnComprar:hover {
    background-color: #2fa500;
    color: white;
}

.btnCancelar {
    background-color: white;
    border: solid 0.1rem black;
    color: black;
}

.btnCancelar:hover {
    background-color: black;
    color: white;
}

.botonModal:disabled, .botonModal:disabled:hover {
    background-color: #d2d2d2;
    border: solid 0.1rem darkgrey;
    color: darkgrey;
}

.tooltip-inner {
    white-space:pre-wrap;
    padding: 0rem;
    min-width: 50%;
    font-size: 1rem;
}



/* ANCLA */

.ancla {
    scroll-margin-top: 5rem;
}