html {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    color: black;
}

html a {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    font-size: 1rem;
}

a:hover {
    color: white;
}



/* BARRA DE NAVEGACIÓN */

.navContainer {
    display: inline;
    position: relative;
}

.buttonNav {
    position: absolute;
    top: -0.7rem;
}

.smallNav {
    position: relative;
    height: 2.6rem;
    padding: 0rem;
    background-color: #353A40;
}

.mediumNav {
    height: 3rem;
    padding: 0rem;
    background-color: #353A40;
}

.largeNav {
    height: 3.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    background-color: #353A40;
}

.bigNav {
    height: 4rem;
    padding: 4rem;
    background-color: #353A40;
}

.smallNav a {
    font-size: 0.9rem;
    margin-top: -0.7rem;
}

.mediumNav a {
    font-size: 0.87rem;
    margin-top: -0.7rem;
}

.largeNav a {
    font-size: 1.1rem;
    margin-top: -0.5rem;
}

.bigNav a {
    font-size: 1.2rem;
    margin-top: -0.3rem;
}

.navbar a:hover {
    color: white;
}

.smallNavBG {
    background-color: #353A40;
    max-width: 12rem;
    margin-top: 2rem;
}

.smallNavBorder {
    padding-left: 0.75rem;
    border-top: black;
    border-style: solid;
    border-width: 0.1rem;
}

.nav-item a {
    color: darkgray;
}

.nav-item a:hover {
    color: gold;
}

.laConferencia a {
    color: white;
}

.comprarTickets a {
    color: limegreen;
}



/* INTRODUCCIÓN */

.introBox {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/ba1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    height: 34rem;
    align-items: center;
}

.conoceConv {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.imgHono {
    height: 25rem;
}

.buttonEnviar {
    background-color: #96C93E;
}

.oradorFormSmall {
    max-width: 80%;
}

.oradorFormMedium {
    max-width: 60%;
}

.dotLine {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.footer {
    background-image: linear-gradient(to right, #1C3643, #1E5372);
    height: fit-content;
    padding: 0.7rem 0rem;
}

.footListSmall a {
    font-size: 0.8rem;
    color: white;
}

.footListMedium a {
    font-size: 0.8rem;
    color: white;
}

.footListLarge a {
    font-size: 1rem;
    color: white;
}

.footListBig a {
    font-size: 1.2rem;
    color: white;
}

.footListSmall a:hover,
.footListMedium a:hover,
.footListLarge a:hover,
.footListBig a:hover {
    color: white;
}