html {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    color: black;
}

html a {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    font-size: 1rem;
}

a:hover {
    color: white;
}



/* BARRA DE NAVEGACIÓN */

.navContainer {
    display: inline;
    position: relative;
}

.smallNav {
    position: relative;
    min-height: 2.5rem;
    padding: 0rem;
    background-color: #353A40;
}

.buttonNav {
    position: absolute;
    top: -0.7rem;
}

.mediumNav {
    max-height: 4.4rem;
    padding: 2rem;
    background-color: #353A40;
}

.largeNav {
    max-height: 5.6rem;
    padding: 5rem;
    background-color: #353A40;
}

.bigNav {
    max-height: 6.9rem;
    padding: 5rem;
    background-color: #353A40;
}

.smallNav a {
    font-size: 0.7rem;
}

.mediumNav a {
    font-size: 0.7rem;
}

.largeNav a {
    font-size: 0.9rem;
}

.bigNav a {
    font-size: 1.2rem;
}

.navbar a:hover {
    color: white;
}

.navbar-collapse {
    background-color: #353A40;
}

.nav-item a {
    color: darkgray;
}

.navbar-text {
    color: white;
}

.nav-item a:hover {
    color: white;
}

.comprarTickets a {
    color: limegreen;
}



/* INTRODUCCIÓN */

.introBox {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/ba1.jpg");
    background-size: cover;
    background-position: center;
    height: 34rem;
    display: flex;
    align-items: center;
}

.conoceConv {
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.imgHono {
    height: 25rem;
}

.buttonSend {
    background-color: #96C93E;
}

.oradorForm {
    width: 100%;
}

.dotLine {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.footer {
    background-image: linear-gradient(to right, #1C3643, #1E5372);
}

.footer a {
    color: white;
    font-size: 1rem;
    vertical-align: middle;
}