html {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    color: black;
}

html a {
    font-family: 'Gill Sans MT', 'Trebuchet MS', 'Gill Sans', 'Calibri', sans-serif;
    font-size: 1rem;
}

a:hover {
    color: white;
}



/* BARRA DE NAVEGACIÓN */

.container-fluid {
    display: inline-block;
    position: relative;
}

.smallNav {
    min-height: 4.4rem;
    padding: 0rem;
    background-color: #353A40;
}

.mediumNav {
    max-height: 4.4rem;
    padding: 2rem;
    background-color: #353A40;
}

.largeNav {
    max-height: 5.6rem;
    padding: 5rem;
    background-color: #353A40;
}

.bigNav {
    max-height: 6.9rem;
    padding: 5rem;
    background-color: #353A40;
}

.smallNav a {
    font-size: 0.7rem;
}

.mediumNav a {
    font-size: 0.7rem;
}

.largeNav a {
    font-size: 0.9rem;
}

.bigNav a {
    font-size: 1.2rem;
}

.navbar a:hover {
    color: white;
}

.navbar-collapse {
    background-color: #353A40;
}

.nav-item a {
    color: darkgray;
}

.navbar-text {
    color: white;
}

.nav-item a:hover {
    color: white;
}

.comprarTickets a {
    color: limegreen;
}



/* INTRODUCCIÓN */

.introBox{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ba1.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
}

.dotLine{
    text-decoration: underline;
    text-decoration-style: dotted;
}

.form{
    max-width: 800px;
}

.footer{
    background-color: rgb(16, 64, 80);
    color: rgb(255, 255, 255);
}

.btn-green{
    background-color: rgb(54, 168, 69);
    color: rgb(255, 255, 255);
}

.btn-green-light{
    background-color: rgb(118, 199, 64);
    color: rgb(255, 255, 255);
}

.text-green{
    color: rgb(54, 168, 69);
}